* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    color: #444851;
}

body {
    background-color: #f1f6f9;
}

h1 {
    display: inline-block;
    font-weight: 900;
    vertical-align: middle;
    font-size: 2.5em;
    color: black;
}

h2 {
    font-size: 25px;
    font-weight: 900;
}
    h2::before {
        content: "\0025BE";
    }

h4 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 20px;
}
header {
    background-color: white;
}

span {
    display: inline-block;
}

section {
    margin: 20px 0px;
}

/* ##### ELEMENTI ##### */
.button {
    padding: 6px 12px;
    font-size: 13px;
    height: auto;
}

    .button.on {
        color: white;
        background-color: #47adf1;
        border: 2px solid #47adf1;
        border-radius: 5px;
    }

    .button.off {
        color: #d0d5d9;
        background-color: white;
        border: 2px solid #d0d5d9;
        border-radius: 5px;
    }

.checkbox{
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}
    .checkbox.checked {
        border-color: #6fc6b2;
    }
        .checkbox.checked > span::before {
            color: #6fc6b2;
            content: "\2714";
            position: relative;
            bottom: 7px;
            right: 3px;
        }
    .checkbox.crossed {
        border-color: #ea473c;
    }
        .checkbox.crossed > span::before {
            color: #ea473c;
            content: "\2718";
            position: relative;
            bottom: 7px;
            right: 3px;
        }
/* #################### */

#logo{
    margin: 15px 5px 15px 20px;
    vertical-align: middle;
}


.div-main{
    width: 60%;
    height: auto;
    margin: 30px auto auto auto;
}

.div-top {
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 3px;
}

.div-body {
    background-color: white;
}

.div-top > span {
    margin: 15px 0 10px 0px;
}

.div-body > span {
    margin: 25px 0 10px 0px;
}

.div-top.pleft, .div-body.pleft {
    padding-left: 65px;
}
